{% extends "base.html" %}


{% block content %}
    <style>
        .carousel-item img {
            max-height: 800px;
            min-height: 800px;
            object-fit: cover;
            width: 100%;
        }
        .carousel-caption {
            background: rgba(0, 0, 0, 0.5);
            border-radius: 10px;
        }
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: black;
            border-radius: 50%;
        }
        @media (max-width: 576px) {
            .carousel-control-prev-icon,
            .carousel-control-next-icon {
                background-color: black;
            }
            .carousel-item img {
                max-height: 300px;
                min-height: 300px;
                object-fit: cover;
                width: 100%;
            }
        }
    </style>
<div class="container">
    <div class="about-us text-center my-5">
        <div class="info">
            <div class="logo mb-4">
                <img src="/static/img/logo.png" alt="Company Logo" class="img-fluid" style="max-width: 200px;">
            </div>
            <div class="motto mb-5">
                <h2 class="display-4">"Читайте, творите, вдохновляйтесь"</h2>
            </div>
        </div>

        {% if products %}
            <h1>Новинки</h1>
            <div id="newProductsCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for product in products %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img src="{{ product.image }}" class="d-block w-100 img-fluid carousel-img" alt="{{ product.name }}">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ product.name }}</h5>
                            <a href="/product?product_id={{ product.id }}" class="btn btn-primary">Посмотреть</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#newProductsCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#newProductsCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            
        {% endif %}
    </div>
</div>

{% endblock %}
