{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">Корзина</h1>
        <div class="row">
                <div class="col-md-8">
                    {% if items %}
                        {% for item in items %}
                            <div class="card mb-3 cart-item">
                               <div class="card-body d-flex align-items-center">
                                    <img src="{{ item.CartItem.product.image }}" class="card-img-start me-3" alt="{{ item.CartItem.product.name }}" style="max-width: 100px;">
                                    <div>
                                        <h5 class="card-title"><a href="/product?product_id={{ item.CartItem.product_id }}">{{ item.CartItem.product.name }}</a></h5>
                                        <p class="card-text item-price"><strong>Цена:</strong> <span class="product-price">{{ item.CartItem.product.price }}</span> РУБ</p>
                                        <div class="d-flex align-items-center">
                                            <button class="btn btn-outline-secondary me-2" onclick="decreaseQuantity({{ user.id }}, {{ item.CartItem.product_id }})">-</button>
                                            <input type="text" class="form-control text-center item-quantity" id="quantity-{{ item.CartItem.product_id }}" value="{{ item.CartItem.quantity }}" onchange="updateQuantityInput({{ user.id }}, {{ item.CartItem.product_id }})">
                                            <button class="btn btn-outline-secondary ms-2" onclick="increaseQuantity({{ user.id }}, {{ item.CartItem.product_id }})">+</button>
                                            <button class="btn btn-outline-secondary ms-2" onclick="deleteProduct({{ user.id }}, {{ item.CartItem.product_id }})">Удалить</button>
                                        </div>
                                        <div id="errorMsg-{{ item.CartItem.product_id }}"></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                    <h3 class="mb-4">Ваша корзина пуста</h3>
                    {% endif %}
                    
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Итоговая сумма</h5>
                            <p class="card-text">Общая цена всех товаров:<span id="total-price" class="fs-4"> {{ total_price }}</span>  РУБ</p>
                            {% if items %}
                                <label for="city">Город</label><input type="text" class="form-control mt-3" name="city" id="city" required>
                                <label for="street">Улица</label><input type="text" class="form-control mt-3" name="street" id="street" required>
                                <label for="home">Дом</label><input type="number" class="form-control mt-3" name="home" id="home" required>
                                <label for="aparts-number">Квартира</label><input type="number" class="form-control mt-3" name="aparts-number" id="aparts-number">
                                <label for="postal-code">Почтовый индекс</label><input type="text" class="form-control mt-3" name="postal-code" id="postal-code" required>
                                <div id="errorMessage" style="color: red"></div>
                                <a href="#" class="btn btn-primary mt-3" onclick="createOrder({{ user.id }}, {{ items_json }})">Сформировать заказ</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

        </div>
    </div>
    <script>
        async function deleteProduct(user, product) {
            const url = `http://127.0.0.1:8000/cart/delete`;
            const formData = {
                user_id: user,
                product_id: product
            };
            try {
                const response = await fetch(url, {
                    method: 'DELETE',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(formData),
                });
                if (response.status === 200) {
                    window.location.href = "/basket";
                }
                } catch (error) {
                    console.error('Ошибка:', error);
                }

            }

        async function updateQuantity(userId, productId, action) {
            const url = `/cart/quantity`;
            const quantityChange = action === 'increase' ? 1 : 1;
            const quantityInput = document.querySelector(`#quantity-${productId}`);
            const currentQuantity = parseInt(quantityInput.value);

            if (action === 'decrease' && currentQuantity === 1) {
                return;
            }
            try {

                const response = await fetch(url, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ user_id: userId, product_id: productId, quantity: quantityChange, method: action === 'increase' ? 'increase_quantity' : 'decrease_quantity' }),
                });
                if (response.ok) {
                    const data = await response.json();
                    const errorMsg = document.getElementById(`errorMsg-${productId}`);
                    if (data.message === "Такого количества нет в наличии") {
                        errorMsg.textContent = "Большего количества нет в наличии";
                        return
                    } else {
                        const quantityInput = document.querySelector(`#quantity-${productId}`);
                        const quantityChange = action === 'increase' ? 1 : -1;
                        quantityInput.value = parseInt(quantityInput.value) + quantityChange;
                        await updateTotalPrice();
                    }

                    errorMsg.textContent = "";
                } else {
                    console.error('Failed to update quantity');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }

        function increaseQuantity(userId, productId) {
            const errorMsg = document.getElementById(`errorMsg-${productId}`);
            errorMsg.textContent = "";
            updateQuantity(userId, productId, 'increase');
        }

        function decreaseQuantity(userId, productId) {
            const errorMsg = document.getElementById(`errorMsg-${productId}`);
            errorMsg.textContent = "";
            updateQuantity(userId, productId, 'decrease');
        }

        function updateTotalPrice() {
            let totalPrice = 0;
            document.querySelectorAll('.cart-item').forEach(item => {
                const price = parseFloat(item.querySelector('.product-price').innerText);
                const quantity = parseInt(item.querySelector('.item-quantity').value);
                totalPrice += price * quantity;
            });
            document.getElementById('total-price').innerText = `${totalPrice.toFixed(2)}`;
        }

        async function createOrder(userID, items) {
            const errorMsg = document.getElementById("errorMessage");
            const url = `/orders`;
            const city = document.getElementById('city').value;
            const street = document.getElementById('street').value;
            const home = document.getElementById('home').value;
            const aparts_num = document.getElementById('aparts-number').value;
            const postal_code = document.getElementById('postal-code').value;
            const formData = {
                user_id: userID,
                items: items,
                adress: `Адрес: г. ${city} ул. ${street} д. ${home} кв. ${aparts_num}, ${postal_code}`,
                total_price: document.getElementById('total-price').innerText
            };
            try {
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(formData)
                });
                if (response.ok) {
                    const data = await response.json();
                    window.location.href = `/my-orders`;
                } else {
                    console.error('Failed to create order');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }

        async function updateQuantityInput(userId, productId) {
            const errorMsg = document.getElementById(`errorMsg-${productId}`);
            errorMsg.textContent = "";
            const url = `/cart/quantity`;
            const quantityInput = document.querySelector(`#quantity-${productId}`);
            const newQuantity = parseInt(quantityInput.value);

            try {
                const response = await fetch(url, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ user_id: userId, product_id: productId, quantity: newQuantity, method: 'update_quantity' }),
                });

                if (response.ok) {
                    const data = await response.json();
                    console.log(data.message);
                    if (data.message === "Такого количества нет в наличии") {
                        const errorMsg = document.getElementById(`errorMsg-${productId}`);
                        errorMsg.textContent = "Большего количества нет в наличии";
                    } else {
                        await updateTotalPrice();
                    }
                } else {
                    console.error('Failed to update quantity');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }

    </script>
{% endblock %}
