{% extends "base.html" %}

{% block content %}
        <style>
            .card-img-top.fixed-size {
                height: 400px;
                object-fit: cover;
                width: 100%;
            }
        </style>
    <div class="container">
        <form method="get" action="/products" id="filtersForm">
            <div class="form-group">
                <label for="category">Фильтр по категории:</label>
                <select id="category" name="category_id" class="form-control">
                    <option value="000">Все</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="sort_by">Сортировать по:</label>
                <select id="sort_by" name="sort_by" class="form-control">
                    <option value="">Нет</option>
                    <option value="price_desc">Цена по убыванию</option>
                    <option value="price_asc">Цена по возрастанию</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Применить</button>
        </form>

        {% if products %}
            <h1 class="text-center my-4" id="errorMsgTOP">Все книги</h1>
            <div class="row row-cols-1 row-cols-md-3 g-4 products-container">
                {% for product in products %}
                <div class="col">
                    <div class="card">
                        <img src="/{{ product.image }}" class="card-img-top fixed-size" alt="Картинка книги">
                        <div class="card-body">
                            <h5 class="card-title text-truncate">{{ product.name }}</h5>
                            <p class="card-text fs-4">{{ product.price }} ₽</p>
                            <a href="/product?product_id={{ product.id }}" class="btn btn-primary">Перейти</a>
                            {% if user %}
                            <a class="btn btn-success" onclick="addToCart({{ user.id }}, {{ product.id }} )">Добавить в корзину</a>
                            {% endif %}
                            <div id="successMessage-{{ product.id }}" style="color: green; background: #b1ff7b;"></div>
                            <div id="errorMessage-{{ product.id }}" style="color: red"></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <h1 class="text-center my-4">Товаров нет</h1>
        {% endif %}
    </div>
    <script>
        async function addToCart(user, product) {
            console.log(user, product);
            const url = ` /cart/add`;
            const formData = {
                user_id: user,
                product_id: product,
                quantity: 1
            };
            const errorMsg = document.getElementById(`errorMessage-${product}`);
            const successMsg = document.getElementById(`successMessage-${product}`);
            try {
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(formData),
                });
                if (response.status === 200) {
                    successMsg.textContent = "Товар добавлен в корзину";
                } else {
                    errorMsg.textContent = "Не удалось добавить в корзину";
                    }
                } catch (error) {
                    console.error('Ошибка:', error);
                }

            }

        document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('filtersForm');
        const productsContainer = document.querySelector('.products-container');

        form.addEventListener('submit', async function (event) {
            event.preventDefault();

            const formData = new FormData(form);

            const queryString = new URLSearchParams(formData).toString();

            try {
                fetch(`/get-products?${queryString}`)
                    .then(response => response.json())
                    .then(data => {
                        const products = data.products;
                        const err = document.getElementById("errorMsgTOP");
                        if (products.length === 0) {
                            
                            err.textContent = 'Книг этой категории нет в наличии'; 
                        } else {
                            err.textContent = 'Все Книги';
                        }

                        if (productsContainer) { 
                            productsContainer.innerHTML = ''; 
                            
                            products.forEach(product => {
                                const card = document.createElement('div');
                                card.classList.add('col');
                                card.innerHTML = `
                                    <div class="card">
                                        <img src="${product.image}" class="card-img-top fixed-size" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title text-truncate">${product.name}</h5>
                                            <p class="card-text fs-4">${product.price} ₽</p>
                                            <a href="/product?product_id=${product.id}" class="btn btn-primary">Перейти</a>
                                            {% if user %}<a class="btn btn-success" onclick="addToCart({{ user.id }}, ${product.id})">Добавить в корзину</a> {% endif%}
                                            <div id="successMessage-${product.id}"></div>
                                            <div id="errorMessage-${product.id}"></div>
                                        </div>
                                    </div>
                                `;
                                productsContainer.appendChild(card);
                            });
                        }
                        else {
                        console.error('Контейнер с карточками товаров не найден');
                    }
                    })
                } catch (error) {
                    console.error('Ошибка:', error);
            }
        });
    });
    </script>
{% endblock %}
