{% extends "base.html" %}
{% block css_link %} 
<link rel="stylesheet" href="/static/styles/catalog.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="controls">
            <a href="/">← Главная</a>
            <a href="">Фильтры</a>
        </div>

        
        <h2>Выберите категорию:</h2>
        <div class="categories">
            {% if category %}
                {% for category in categories %}
                <a href="/products?category_id={{ category.id }}">
                    <div class="category">
                        {{ category.name }}
                    </div>
                </a>
                {% endfor %}
            {% else %}
                <h1>Категорий нет</h1>
            {% endif %}
        </div>
        <h1>Категория: {{ category.name }}</h1>

        {% if products %}
            <div class="cards">
                {% for product in products %}
                <div class="card">
                    <div class="card-img">
                        <img src="/static/img/card.png" alt="">
                    </div>
                    <div class="card-info">
                        <div class="card-name">
                            <p>{{ product.name }}</p>
                        </div>
                        <div class="card-link">
                            <a href="/product/{{ product.id }}">Подробнее</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <h1>Товаров нет</h1>
        {% endif %}
    </div>
{% endblock %}