{% extends "base.html" %}
{% block css_link %} 
<link rel="stylesheet" href="/static/styles/catalog.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="controls">
            <a href="">Фильтры</a>
        </div>

        
        <h2>Выберите категорию:</h2>
        <div class="categories">
            {% if categories %}
                <a href="/catalog">
                    <div class="category">
                        Все товары
                    </div>
                </a>
                {% for category in categories %}
                <a href="/products?category_id={{ category.id }}">
                    <div class="category">
                        {{ category.name }}
                    </div>
                </a>
                {% endfor %}
            {% else %}
                <h1>Категорий нет</h1>
            {% endif %}
        </div>
        <h1>Категория: {{ category.name }}</h1>

        {% if products %}
            <div class="card-group">
                <div class="row">
                {% for product in products %}
                    <div class="col-md-4">
                        <div class="card mt-4" style="width: 18rem;">
                          <img src="/static/img/card.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text fs-4">{{ product.price }} ₽</p>
                            <a href="/product?product_id={{ product.id }}" class="btn btn-primary">Перейти</a>
                          </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% else %}
            <h1>Товаров нет</h1>
        {% endif %}
    </div>
{% endblock %}