{% extends "base.html" %}

{% block css_link %} 
<link rel="stylesheet" href="/static/styles/index.css">
{% endblock %}

{% block content %}
    <div class="headings">
        <div class="headers-1">
            <div class="header-catalog">
                <a href="/catalog">Каталог</a>
            </div>
        </div>
        <div class="headers-2">
            <div class="header-location">
                <a href="/location">Где нас найти?</a>
            </div>
            <div class="header-about">
                <a href="/about">О нас</a>
            </div>
        </div>
        <div class="headers-3">
            {% if current_user %}
                
                <div class="header-catalog">
                    <a href="/profile">Профиль</a>
                </div>
            {% else %}
                <div class="header-auth">
                    <a href="/login">Вход</a>
                </div>
                <div class="header-register">
                    <a href="/register">Регистрация</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}