{% extends "base.html" %}


{% block content %}
    <div class="container">
        <div class="about-us text-center">
            <div class="info">
                <div class="name">
                    <h1>Мы находимся здесь!</h1>
                </div>
                <div class="adress-info">
                    <p>Адрес: г. Москва, ул. Пятницкая, д.47, стр.3</p>
                </div>
                <div class="phone-info">
                    <p>Номер телефона: 8 (800) 221-31-41</p>
                </div>
                <div class="email-info">
                    <p>Почта: sew.shop@mail.ru</p>
                </div>
            </div>
            <div class="text-center">
                <img src="/static/img/Карта.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>


{% endblock %}