{% extends "base.html" %}

{% block content %}
        <style>
            .fixed-size {
                height: 400px;
                object-fit: cover;
                width: 100%;
            }
        </style>
    <div class="container">
    <div class="about-us">
        <div class="info">
            <div class="name">
                <h1 class="display-4">Профиль</h1>
            </div>
            {% if user.image %}
                        <div>
                            <img src="{{ user.image }}" alt="" class="fixed-size">
                        </div>
                    {% endif %}
            <div class="row">
                <div class="col-md-6">
                    <div class="adress-info">
                        <h2 class="h4">ФИО:</h2>
                        <p class="lead">{{ user.surname }} {{ user.name }} {{ user.patronymic }}</p>
                    </div>
                    <div class="adress-info">
                        <h2 class="h4">Логин:</h2>
                        <p class="lead">{{ user.login }}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="phone-info">
                        <h2 class="h4">Номер телефона:</h2>
                        <p class="lead">{{ user.phone }}</p>
                    </div>
                    <div class="email-info">
                        <h2 class="h4 ">Почта:</h2>
                        <p class="lead">{{ user.email }}</p>
                    </div>
                </div>
            </div>
            {% if user.is_superuser %}
            <a class="btn btn-primary mt-3" role="button" href="/admin">Админ-панель</a>
            {% endif %}
            <a class="btn btn-primary mt-3" role="button" href="/my-orders">Мои заказы</a>
            <button class="btn btn-primary mt-3" onclick="logoutUser()">Выйти</button>
        </div>
    </div>
</div>

    <script>
        async function logoutUser() {
            const url = "https://iwillsew.onrender.com/auth/logout";

            await fetch(url, {
                method: 'POST',
            }).then(response => {
                if (response.status === 200) {
                    window.location.href = "/"
                }
            });
        }
    </script>
{% endblock %}