{% extends "base.html" %}
{% block css_link %}
<link rel="stylesheet" href="/static/styles/register.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="img-container">
                <img src="/static/img/register-img.png" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="register-form">
                <label for="firstname">Имя</label>
                <input type="text" class="form-control" name="firstname" id="firstname" required>
                <label for="lastname">Фамилия</label>
                <input type="text" class="form-control" name="lastname" id="lastname" required>
                <label for="patronymic">Отчество(не обязательно)</label>
                <input type="text" class="form-control" name="patronymic" id="patronymic">
                <label for="login">Логин</label>
                <input type="text" class="form-control" name="login" id="user_login" required>
                <label for="email">Почта</label>
                <input type="email" class="form-control" name="email" id="email" required>
                <label for="phone">Номер телефона</label>
                <input type="text" class="form-control" name="phone" id="phone" required>
                <label for="password">Пароль</label>
                <input type="password" class="form-control" name="password" id="password" required>
                <label for="password_repeat">Повторите пароль</label>
                <input type="password" class="form-control" name="password_repeat" id="password_repeat" required>
                <p>Продолжая дальше, вы принимаете условия.</p>
                <input type="submit" class="btn btn-primary" value="Зарегистрироваться" onclick="registerUser()">
                <a href="/login" class="btn btn-link">Уже есть аккаунт? Войти</a>
                <div id="errorMessage" class="mt-2" style="font-size: 22px; color: red;"></div>
            </div>
        </div>
    </div>
</div>

<script>
    async function registerUser() {
        const url = "http://localhost:9000/auth/register";
        const formData = {
            name: document.getElementById("firstname").value,
            surname: document.getElementById("lastname").value,
            patronymic: document.getElementById("patronymic").value,
            login: document.getElementById("user_login").value,
            email: document.getElementById("email").value,
            phone: document.getElementById("phone").value,
            password: document.getElementById("password").value
        };
        const errorMsg = document.getElementById("errorMessage");
        const password = document.getElementById("password").value;
        const password_repeat = document.getElementById("password_repeat").value;

        for (const [key, value] of Object.entries(formData)) {
            if (!value && key !== "patronymic") {
                errorMsg.textContent = `Поле "${key}" не может быть пустым.`;
                return;
            }
        }

        // Check for password match
        if (password !== password_repeat) {
            errorMsg.textContent = "Пароли не совпадают.";
            return;
        }

        try {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: JSON.stringify(formData)
            });

            if (response.status === 201) {
                window.location.href = "/login";
            } else {
                const errorData = await response.json();
                errorMsg.textContent = errorData.detail;
            }
        } catch (error) {
            console.error('Ошибка:', error);
            errorMsg.textContent = "Произошла ошибка при регистрации. Попробуйте снова позже.";
        }
    }
</script>
{% endblock %}
