{% extends "base.html" %}
{% block css_link %}
<link rel="stylesheet" href="/static/styles/register.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="img-container">
                <img src="/static/img/register-img.png" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="register-form">
                <label for="firstname">Имя</label>
                <input type="text" class="form-control" name="firstname" id="firstname" required>
                <label for="lastname">Фамилия</label>
                <input type="text" class="form-control" name="lastname" id="lastname" required>
                <label for="patronymic">Отчество(не обязательно)</label>
                <input type="text" class="form-control" name="patronymic" id="patronymic">
                <label for="login">Логин</label>
                <input type="text" class="form-control" name="login" id="user_login" required>
                <label for="email">Почта</label>
                <input type="email" class="form-control" name="email" id="email" required>
                <label for="phone">Номер телефона</label>
                <input type="tel" class="form-control" name="phone" id="phone" required>
                <label for="password">Пароль</label>
                <input type="password" class="form-control" name="password" id="password" required>
                <label for="password_repeat">Повторите пароль</label>
                <input type="password" class="form-control" name="password_repeat" id="password_repeat" required>
                <p>Продолжая дальше, вы принимаете условия.</p>
                <input type="submit" class="btn btn-primary" value="Зарегистрироваться" onclick="registerUser()">
                <a href="/login" class="btn btn-link">Уже есть аккаунт? Войти</a>
                <div id="errorMessage" class="mt-2" style="font-size: 22px; color: red;"></div>
            </div>
        </div>
    </div>
</div>

<script>
    const errorTranslations = {
    "String should match pattern '^[А-Яа-яЁё\\s-]+$'": "обязательное поле, разрешенные символы (кириллица, пробел и тире)",
    "String should match pattern '^[А-Яа-яЁё\\s-]*$'": "обязательное поле, разрешенные символы (кириллица, пробел и тире)",
    "String should have at least 6 characters": "Строка должна содержать не менее 6 символов",
    "Field required": "Поле обязательно для заполнения",
    "String should match pattern '^[a-zA-Z0-9-]+$'": "обязательное и уникальное поле, разрешенные символы (латиница, цифры и тире)",
    "value is not a valid email address: The email address is not valid. It must have exactly one @-sign.": "неверный формат почты",
    "String should match pattern '^\\+?[1-9]\\d{1,14}$'": "неверный формат номера телефона",
    "Пользователь уже существует с таким же: Email": "Пользователь уже существует с таким же: Почта",
    "Пользователь уже существует с таким же: Логин": "Пользователь уже существует с таким же: Логин",
    "Пользователь уже существует с таким же: Номер телефона": "Пользователь уже существует с таким же: Номер телефона"
};

function translateFieldName(fieldName) {
    const fieldTranslations = {
        "name": "Имя",
        "surname": "Фамилия",
        "patronymic": "Отчество",
        "login": "Логин",
        "email": "Почта",
        "phone": "Номер телефона",
        "password": "Пароль",
        "password_repeat": "Повторите пароль"
    };
    return fieldTranslations[fieldName] || fieldName;
}

function displayErrors(errors) {
    const errorMsg = document.getElementById("errorMessage");
    let errorMessages = "";

    if (Array.isArray(errors)) {
        errors.forEach(error => {
            if (error.loc) {
                // Validation error
                const field = error.loc[1];
                const message = error.msg;
                const translatedMessage = errorTranslations[message] || message;
                errorMessages += `Поле "${translateFieldName(field)}": ${translatedMessage}<br>`;
            } else {
                // Custom error
                const message = error.detail;
                const translatedMessage = errorTranslations[message] || message;
                errorMessages += `${translatedMessage}<br>`;
            }
        });
    } else if (typeof errors === 'string') {
        // Handle single custom error message
        const translatedMessage = errorTranslations[errors] || errors;
        errorMessages += `${translatedMessage}<br>`;
    }

    errorMsg.innerHTML = errorMessages;
}


async function registerUser() {
    const url = "https://iwillsew.onrender.com/auth/register";
    const formData = {
        name: document.getElementById("firstname").value,
        surname: document.getElementById("lastname").value,
        patronymic: document.getElementById("patronymic").value,
        login: document.getElementById("user_login").value,
        email: document.getElementById("email").value,
        phone: document.getElementById("phone").value,
        password: document.getElementById("password").value,
        password_repeat: document.getElementById("password_repeat").value
    };
    const errorMsg = document.getElementById("errorMessage");
    errorMsg.textContent = "";

    try {
        const response = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: JSON.stringify(formData)
        });

        if (response.status === 201) {
            window.location.href = "/login";
        } else {
            const errorData = await response.json();
            if (errorData.detail) {
                if (Array.isArray(errorData.detail)) {
                    displayErrors(errorData.detail);
                } else {
                    displayErrors(errorData.detail);
                }
            }
        }
    } catch (error) {
        console.error('Ошибка:', error);
        errorMsg.textContent = "Произошла ошибка при регистрации. Попробуйте снова позже.";
    }
}

</script>
{% endblock %}
